<div class="container">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <div class="card my-3">
        <h2>Pocket Money</h1>

      </div>
      <%= link_to categories_path do %>
      <div class="card my-3">
        <h2>Learn</h1>
      </div>
      <% end %>
      <%= link_to wallet_goals_path(wallet) do %>
        <div class="card my-3">
          <h2>Goals</h1>
        </div>
      <% end %>
    </div>
  </div>
</div>
