
<div class="container">
   <div class="container-header">
  <!-- Add this line if you need the menu -->
     <label for="offcanvas" class="toggler"><span class="avatar"></span></label>
      <h1 class ="header">Welcome <%= user.first_name %></h1>
  </div>
  <div class="row">
    <div class="col-md-6 mx-auto">
      <div class="card my-3">
        <h2>Pocket Money</h1>
          <p><%= @wallet.payout_amount %></p>
      </div>

      <%= link_to categories_path do %>
      <div class="card my-3">
        <h2>Learn</h1>
      </div>
      <% end %>
      <%= link_to wallet_goals_path(wallet) do %>
        <div class="card my-3">
          <h2>Goals</h1>
        </div>
      <% end %>
    </div>
  </div>
</div>
