
<% if user_signed_in? %>
  <input type="checkbox" id="offcanvas" class="toggle" />
  <div class="wrapper">
   <aside>
    <nav>
     <ul>
      <div>
        <li class="fas fa-user-circle"><%= link_to "Dashboard", dashboard_user_path(current_user.id), class: "navlink" %></li>
      </div>
      <div>
        <li class="fa fa-cog"><%= link_to "Profile", edit_user_registration_path, class: "navlink" %></li>
      </div>
      <div>
      <li class="fas fa-sign-out-alt"><%= link_to "Logout", destroy_user_session_path, method: :delete, class: "navlink" %></li>
    </div>
     </ul>
    </nav>
   </aside>

<% end %>




