
<% if user_signed_in? %>
  <input type="checkbox" id="offcanvas" class="toggle" />
  <div class="wrapper">
   <aside>
    <nav>
     <ul>
      <li><%= link_to "dashboard", dashboard_user_path(current_user.id), class: "nav-link" %></li>
      <li><%= link_to "profile", edit_user_registration_path, class: "nav-link" %></li>
      <li><%= link_to "Logout", destroy_user_session_path, method: :delete, class: "nav-link" %></li>
     </ul>
    </nav>
   </aside>

<% end %>




