<!-- inline css -->

<style>
body {
  background-color: #F8CE69;}
.container-header {
  display: flex;
  border-bottom: :1px white; }
.header {
  margin: auto;
  margin-left: 12px;
  font-size: 20px;
  font-weight: bold; }
.container-dashboard-button {
  display: flex;
  padding: 6px;
}
section {
  background-color: #E34E53;
  background-size: 30% 100%;
}
h1 {
  color: white; }
</style>

<!-- end of inline css -->

<div class="container-main">
   <div class="container-header">
  <!-- Add this line if you need the menu -->
     <label for="offcanvas" class="toggler"><span class="avatar"></span></label>
      <h1 class ="header">Courses</h1>
   </div>

      <% @courses.each do |course| %>
      <div class="card-learning">
        <div>
          photo
        </div>
        <div class="d-flex justify-content-between p-3">
          <div>
             <h2><%= course.name %></h2>
          </div>
             <%= link_to "LEARN", course_levels_path(course), class: 'button-white' %>
          </div>
      </div>
      <br>
      <% end %>
  </div>
