// submit button quiz

.btn-submit {
  color: white;
  width: 100%;
  height: 100%;
  margin-top: 8px;
  padding: 16px;
  cursor: pointer;
  background-color: #E34E53;
  border: none;
  .btn-submit:checked a {
      background-color: #ffc33f;
      border: 2px solid #ffc33f;
      color: white;
      transform: scale(1.1, 1.1);
  }
}

.submit-answer {
  width: 100vw;
  position: sticky;
  bottom: 0;
}

.screenwidth {
  width: 100%
}

.notification-confirm-button a {
  color: white;
}
