.button-red {
  color: white !important;
  font-size: 12px;
  padding: 8px 24px;
  border-radius: 20px;
  background: #E34E53;
  transition: background 0.3s ease;
  text-decoration: none;
  &:hover {
    text-decoration: none;
    background: rgb(227, 50, 50);
  }
}
.button-white {
  color: black;
  font-size: 12px;
  padding: 8px 24px;
  border-radius: 20px;
  background: white;
  border: 2px solid #E3E8EB;
  transition: background 0.3s ease;
  text-decoration: none;
}
.button-blue {
  color: black;
  font-size: 12px;
  padding: 8px 24px;
  border-radius: 20px;
  border: 2px solid #789FCC;
  transition: background 0.3s ease;
  text-decoration: none;
}
.button-yellow {
  color: white;
  font-size: 12px;
  padding: 8px 24px;
  border-radius: 20px;
  background: #F8CE69;
  transition: background 0.3s ease;
  text-decoration: none;
}
