// containers for onboarding

.container-devise {
  margin-top: 110px;
  padding: 20px; }

.container-devise-btn {
  margin-top: 50px;
  font-size: 16px; }

// containers for main pages

.container-main {
  margin-top: 20px; }


// containers for the header and menu

.container-header {
  display: flex;
  border-bottom: 1px white; }
.header {
  margin: auto;
  margin-left: 12px;
  font-size: 20px;
  font-weight: bold;
  color: white; }

// containers for bottom dashboards buttons

  .container-dashboard-button {
  display: flex;
  padding: 6px;
}

