// containers for onboarding

.container-devise {
  margin-top: 110px;
  padding: 20px; }

.container-devise-btn {
  margin-top: 50px;
  font-size: 16px; }

// containers for main pages

.container-main {
  margin-top: 20px; }

// containers for the header and menu

.container-header {
  display: flex;
  border-bottom: 1px white;
  flex-direction: row;
  justify-content: space-between; }
.header-back {
  align-self: center;
}
.header-back .fas{
  font-size: 20px;
  color: #505050;
  margin-left: auto;
  margin-bottom: 7px;
}
.header-text {
  margin-top: auto;
  margin-bottom: auto;
  flex-grow: 9;
}
.header-avatar {
  float: right;
  margin-left: 12px;
  flex-grow: 0;
}
.header {
  color: #505050;
  margin-bottom: 10px;
  margin-left: 20px;
  font-size: 20px;
  font-weight: bold;
  }
.header-back {
   align-self: center;
   flex-grow: 0;
}

// containers for bottom dashboards buttons

  .container-dashboard-button {
  display: flex;
  padding: 6px;
}

