
.wrapper {
  height: 100%;
}
.row {
  padding: -15px;
  margin: 15px 0;
}
.row:before,
.row:after {
  content: "";
  display: table;
}
nav li {
  padding: 5px;
  margin-top: 12px; }
.fas {
  color: #A3A3A3;
  margin-left: -24px}
.fa {
  color: #A3A3A3;
  margin-left: -24px}
.navlink {
  color: #A3A3A3;
  font-size: 14px;
  margin-left: 14px; }
aside {
  padding-top: 40px;
  background-color: #323232;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  width:60%;
  margin-right: -60%;
  float: right;
  height: 100%; }
.section {
  width: 100%;
  height: 100%;
  margin-left: 0; }
.toggle:checked + .wrapper > aside {
  margin-right: 0; }
.toggle:checked + .wrapper > .section {
  margin-left: -60%; }
.toggler {
  display: inline-block;
  cursor: pointer; }
.avatar {
  width: 40px;
  height: 40px;
  background-size: cover;
  display: block; }
.row_avatar {
  margin: 15px;
  border-bottom: 2px; }
.toggle, .biglabel {
  display: none;
}
.biglabel {
  width: 100%;
  height: 100%;
  position: absolute;
  cursor: pointer; }
.toggle:checked + .wrapper > .section .biglabel {
  display: block; }
aside,
.section {
  -webkit-transition: margin 0.2s ease-in-out;
  -moz-transition: margin 0.2s ease-in-out;
  -ms-transition: margin 0.2s ease-in-out;
  -o-transition: margin 0.2s ease-in-out;
  transition: margin 0.2s ease-in-out; }
