<h1>Goals#index</h1>
<p>Find me in app/views/goals/index.html.erb</p>

    <% @goals.each do |goal| %>
      <a><%= goal.id %></a></br>
      <a><%= goal.name %></a></br>
      <a><%= link_to 'edit', edit_goal_path(goal.id), class: "btn btn-success"%></a></br>
    <% end %>

<%= link_to 'Add new goal', new_wallet_goal_path, class: "btn btn-primary"%>

