<!-- inline css -->

<style>
body {
  background-color: #F8CE69;}
.container-header {
  display: flex;
  border-bottom: :1px white; }
.header {
  margin: auto;
  margin-left: 12px;
  font-size: 20px;
  font-weight: bold; }
.container-dashboard-button {
  display: flex;
  padding: 6px;
}
section {
  background-color: #E34E53;
  background-size: 30% 100%;
}
h1 {
  color: white; }
h2 {
  margin: auto;
  margin-left: 12px;
  font-size: 16px;
  font-weight: bold;}

</style>

<div class="container-main">
   <div class="container-header">
  <!-- Add this line if you need the menu -->
     <label for="offcanvas" class="toggler"><span class="avatar"></span></label>
      <h1 class ="header">Categories</h1>
   </div>


      <% @categories.each do |category| %>
      <div class="card-learning">
        <div>
          <%= cl_image_tag category.photo, width: 200, height: 150, crop: :fill %>
        </div>
        <div class="d-flex justify-content-between p-3">
          <div>
            <h2><%= category.name %></h2>
          </div>
          <div>
            <%= link_to "LEARN", category_courses_path(category), class: 'button-red' %>
          </div>
          <br>
        </div>
      </div>

      <% end %>

</div>

